<!DOCTYPE html>
<html>

<head>
    <title>
        PokeGo Scanner - Login
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <h1>
        Login
    </h1>
    <p>
        <form action="/auth/login" method="post">
            <input type="text" id="txt-username" name="username" placeholder="username" disabled="disabled" />
            <input type="password" id="txt-password" name="password" placeholder="password" disabled="disabled" />
            <input type="hidden" id="hdn-latitude" name="latitude" value="" />
            <input type="hidden" id="hdn-longitude" name="longitude" value="" />
            <button type="submit" id="btn-signin" disabled="disabled">Sign in</button>
        </form>
    </p>

    <div id="demo"></div>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser. You need geolocation supported browser to use this app.");
            }
        }

        function showPosition(position) {
            $('#txt-username').prop('disabled', false);
            $('#txt-password').prop('disabled', false);
            $('#btn-signin').prop('disabled', false);

            $('#hdn-latitude').value(position.coords.latitude);
            $('#hdn-longitude').value(position.coords.longitude);
        }

        $(document).ready(function() {
            getLocation();
        });
    </script>

</body>

</html>